.sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  z-index: 1000;
}

.sidebar-menus {
  display: flex;
  flex-direction: column;
}

.sidebar-menus a,
.sidebar-logout a {
  padding: 5% 8%;
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color: var(--whiteColor);
}

.sidebar-menus a ion-icon,
.sidebar-logout a ion-icon {
  font-size: 20px;
}

.sidebar-menus a:hover,
.sidebar-logout a:hover {
  background-color: var(--secondaryColor);
  border-radius: 50px;
}
